
@{
    ViewData["Title"] = "AddAttendance";
}

<div class="card m-auto defaultCardWidth">
    <div class="card-header">
        <div id="divAttendeeName">
            <center>
                <h1 id="lblName" class="font-italic font-weight-bold text-success">________________________</h1>
            </center>
        </div>
    </div>
    <div class="card-body">
        <center>
            <input type="number" id="txtRegId" class="font-weight-bold input-group-lg text-center" style="font-size: 70px; width: 40%" />
        </center>
    </div>
    <div class="card-footer">

    </div>
</div>

